{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Demander une réinitilisation du mot de passe</button>

    {{ form_end(form) }}
{% endblock %}
