{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Réinitilisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitilisation du mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>

    {{ form_end(form) }}
{% endblock %}
