{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Editer un trick{% endblock %}

{% form_theme form 'shared/_collection.html.twig' %}

{% block body %}
    <h1>Modifier le trick : {{ trick.name }}</h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="/js/trick.js"></script>
{% endblock %}